// Base colors
$primary: #EC2329;
$secondary: #1FAB55;
$primaryDark: #C61E23;

// Texts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$txtcolor: #000000;
$font: 'Roboto', sans-serif;
$titlesize: 36px;
$subtitlesize: 20px;
$txtsize: 16px;
$placeholdersize: 16px;

// Buttons

$borderradius: 60px;
$buttontextsize: 20px;
$buttontextcolor: #FFFFFF;

@mixin centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    border-radius: 5rem;
    padding: .6rem 1.5rem;
    min-width: 14rem;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 900;
    font-family: $font;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-transform: uppercase;
    border: none;
}

@mixin headingLarge {
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

@mixin headingSmall {
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

@mixin subHeading {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: .3rem;
}
