// Base colors
$primary: #EC2329;
$secondary: #1FAB55;
$white: #FFFFFF;
$black: #000000;

// Texts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$font: 'Roboto', sans-serif;

